*.iml
.gradle
/local.properties
/.idea

.DS_Store
/app/full/release
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.apk
*.jks
*.keystore
*.p12
/repo
/stats
/app/release

/github_releases
/test_files
/ffmpeg-kit-next
/app/libs
/.ffmpeg-kit-next-build
